parametersSchema:
    myVendorName: string()
    vendorStrictMode: bool()
    ignoredExternalVendors: listOf(string())
    infrastructureLayerName: string()
    applicationLayerName: string()
    domainLayerName: string()

services:
    LayersDependencyFlowRule:
        class: CoolDevGuys\PHPStan\Rules\LayersDependencyFlowRule
        arguments:
            myVendorName: %myVendorName%
            infrastructureLayerName: %infrastructureLayerName%
            applicationLayerName: %applicationLayerName%
            domainLayerName: %domainLayerName%
        tags:
            - phpstan.rules.rule
    NoExternalVendorsAllowedFromDomainRule:
            class: CoolDevGuys\PHPStan\Rules\NoExternalVendorsAllowedFromDomainRule
            arguments:
                myVendorName: %myVendorName%
                infrastructureLayerName: %infrastructureLayerName%
                applicationLayerName: %applicationLayerName%
                domainLayerName: %domainLayerName%
                vendorStrictMode: %vendorStrictMode%
                ignoredExternalVendors: %ignoredExternalVendors%
            tags:
                - phpstan.rules.rule